SPRING_DATASOURCE_URL=jdbc:postgresql://<TU-DB-ENDPOINT>.rds.amazonaws.com/chef_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=<TU-PASSWORD>
KEYCLOAK_ISSUER_URI=http://localhost:9090/realms/chefs-realm
